/* import font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* reset */
*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
    color: #121717;
}

/* initalize variables */
:root{
    --text-color:#121717;
    --secondary-color:#617D8A;
    --light-color:#FFFFFF;
    --back-color:#F0F2F5;
    --button-color:#0DA6F2;
} 
body{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/* start shared element style */
a{
    text-decoration: none;
    color: #121717;
}
.my-card{
    border-radius: 16px;
}
.my-container{

}
/* end shared element style */

/* start header styling */
header{
    padding: 1rem 0;
    border-bottom: 0.2rem var(--back-color) solid;
}
header nav{
    display: flex;
    justify-content: space-around;
}
header nav >div{
    display: flex;
    align-items: center;
    gap: 3rem;
}
header .logo{
    font-weight: bold;
}
header nav ul.menu {
    display: flex;
    list-style-type: none;
    gap: 2rem;
}
header nav ul.menu li{
font-size: 1.3rem;
}

header nav .right{
    position: relative;
}

header nav .right .fa-magnifying-glass{
    position: absolute;
    top: 1.2rem;
    left: 8px;
    color: var(--secondary-color);
    font-size: 1.3rem;
    z-index: 1;
}
header nav .right input[type=text]{
    background-color: var(--back-color);
    color: var(--secondary-color);
    border-color: transparent;
    padding: 0.7rem 2rem;
    font-size: 1rem;
    border-radius: 1rem;
}
header nav .right a{
    background-color: var(--back-color);
    padding: 0.8rem 1rem;
    border-radius: 1rem;
}

/* end header styling */


/* start main-header style */
.main-header{

}
.main-header .image{
height: 500px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-size: cover;
}
.main-header .image .search-contianer{
position: relative;
width: 60%;
}
.main-header .image h1{
color: var(--light-color);
font-weight: bold;
}

.main-header .image i{
    position: absolute;
    left: 2rem;
    top: 2.5rem;
    font-size: 2rem;
    color: var(--secondary-color);
}
.main-header .image input{
    border-color: transparent;
    width: 100%;
    padding: 2rem 6rem;
    color: var(--secondary-color);
    font-size: 1.5rem;
}
.main-header .image button{
    position: absolute;
    top: 26px;
    right: 13px;
    background: var(--bs-blue);
    color: var(--bs-body-bg);
    padding: 0.8rem 1rem;
    font-weight: bold;
}
/* end main-header style */

/* start fragment-item Section */
.fragment-item img{
    width: 100%;
    height: 300px;
    border-color: transparent;
}
.fragment-item img.small{
    height: 150px;
}
.fragment-item .title{
margin: 0; 
font-size: 1.2rem;   
}
.fragment-item .price{
    color: var(--secondary-color);
}
/* end fragment-item Section */

/* start footer style */
footer{
    border-top: 0.2rem var(--back-color) solid;
    text-align: center;
    margin-top: 2rem;
    padding-top: 1rem;
}
/* end footer style */