/* import font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* reset */
*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
    color: #121717;
}

/* initalize variables */
:root{
    --text-color:#121717;
    --secondary-color:#617D8A;
    --light-color:#FFFFFF;
    --back-color:#F0F2F5;
    --button-color:#0DA6F2;
} 

/* start shared element style */
a{
    text-decoration: none;
    color: #121717;
}
.card{
    border-radius: 1rem;
}
/* end shared element style */

/* start header styling */
header{
    padding: 1rem 0;
    border-bottom: 0.2rem var(--back-color) solid;
}
header nav{
    display: flex;
    justify-content: space-around;
}
header nav >div{
    display: flex;
    align-items: center;
    gap: 3rem;
}
header .logo{
    font-weight: bold;
}
header nav ul.menu {
    display: flex;
    list-style-type: none;
    gap: 2rem;
}
header nav ul.menu li{
font-size: 1.3rem;
}

header nav .right{
    position: relative;
}

header nav .right .fa-magnifying-glass{
    position: absolute;
    top: 0.8rem;
    left: 8px;
    color: var(--secondary-color);
    font-size: 1.3rem;
}
header nav .right input[type=text]{
    background-color: var(--back-color);
    color: var(--secondary-color);
    border-color: transparent;
    padding: 0.7rem 2rem;
    font-size: 1rem;
}
header nav .right a{
    background-color: var(--back-color);
    padding: 0.8rem 1rem;
}

/* end header styling */